Repository qthequartermasterman/pydantic_cache: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, toml-sort

mypy:
  name: mypy
  entry: mypy
  language: system

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system

build: pre-commit
  .gitignore
  .pre-commit-config.yaml
  tests/test_unit.py
Due: mypy

build: pre-commit
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  pyproject.toml
  src/auto_pydantic_cache/__init__.py
  tests/test_unit.py
  uv.lock
Due: mypy, toml-sort

ci: use uv and do not test py39
  .github/workflows/testing-reusable.yaml
  .github/workflows/testing.yaml
Due: none

ci: use uv and do not test py39
  .github/workflows/testing-reusable.yaml
Due: none

chore: add pytest-cov
  pyproject.toml
  uv.lock
Due: toml-sort

1.0.0
  CHANGELOG.md
Due: none

ci: fix publish
  .github/workflows/semantic-release.yaml
  pyproject.toml
  uv.lock
Due: toml-sort

feat: add async function caching
  pyproject.toml
  src/auto_pydantic_cache/__init__.py
  tests/test_unit.py
  uv.lock
Due: mypy, toml-sort

1.1.0
  CHANGELOG.md
Due: none

fix: semantic release updates project version
  pyproject.toml
Due: toml-sort

fix: CI still broken
  pyproject.toml
  uv.lock
Due: toml-sort

1.1.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: toml-sort

Path conditions:
  mypy: any of: \.py$
  toml-sort: any of: \.toml$
